@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'mixins';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

////////////
/// BASE ///
////////////

@font-face {
    font-family: 'mathletebulky';
    src: url('fonts/mathlete_bulky_macroman/Mathlete-Bulky-webfont.eot');
    src: url('fonts/mathlete_bulky_macroman/Mathlete-Bulky-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mathlete_bulky_macroman/Mathlete-Bulky-webfont.woff') format('woff'),
         url('fonts/mathlete_bulky_macroman/Mathlete-Bulky-webfont.ttf') format('truetype'),
         url('fonts/mathlete_bulky_macroman/Mathlete-Bulky-webfont.svg#mathletebulky') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bodoni';
    src: url('fonts/bodoni/BodoniStd.otf');
    font-weight: normal;
    font-style: normal;
}
h1,
h2,
h3,
h4,
button {
	font-family: 'mathletebulky';
}
h1 {
	@include font-size(45);
}
h2,
button {
	@include font-size(36);
}
h3 {
	@include font-size(28);
}
h4 {
	@include font-size(14);
}
p,
.top-bar a,
.side-nav a {
	font-family: 'bodoni';
	@include font-size(16);
	/// add animation / transition
}
button {
	padding: 5px 10px;
	border-radius: 5px;
}
.primary-btn {
	background-color: $secondary-color;
	color: $white;
	border: 2px solid $secondary-color;
 	/// add animation / transition
}
.secondary-btn {
	background-color: $white;
	color: $secondary-color;
	border: 2px solid $white;
	/// add animation / transition
}
/// Page Content
section > .content,
footer > .content{
	max-width: 701px;
	margin: auto;
	text-align: center;
}
/// Default Hide List style
ul {
	margin: 0;
	list-style-type: none;
}
section {
	padding: 70px 10px;
}
.center-page {
	max-width: 1260px;
	margin: auto;
}
.pagination {
	margin-top: 1rem;
}

//////////////
/// LAYOUT ///
//////////////
/// GENERAL 
div.title {
	margin-bottom: 40px;
}
section .end {
	margin-top: 60px;
}
.btn-top {
	position: fixed;
	right: 5px;
	top: 85%;
}
.btn-top span {
	display: block;
	margin-top: -11px;
}
/// BACKGROUND IMAGES
#index > header {
	background-image: url('../img/index/sample_hero.jpg');
	background-size: 100% 100%;	
	background-repeat: none;
}
#index section.services {
	background-image: url('../img/index/sample_services.jpg');
	/// Parallax CSS
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
.divider {
	display: block;
	max-width: 190px;
	height: 35px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px; /// hide html text
}
.title > .divider {
	background-image: url('../img/divider_top.png');
}
.end > .divider {
	background-image: url('../img/divider_bottom.png');
}
.services-list .learn {
	background-image: url('../img/index/mandala_sm_vector01.png');	
}
.services-list .therapy {
	background-image: url('../img/index/mandala_sm_vector02.png');
}
.services-list .yoga-women {
	background-image: url('../img/index/mandala_sm_vector03.png');
}
.services-list .icon {
	display: block;
	max-width: 149px;
	height: 149px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px; /// hide html text
}
.secondary-bg {
	background-color: $secondary-color;
}
/// TOPBAR		
.top-bar a {
	font-weight: bold;
	color: $primary-color;
	text-transform: capitalize;
}
.top-bar {
	max-width: 484px;
	margin: auto;
	padding-top: 20px;
}
.logo-wrapper {
    position: relative; 
}
.logo-wrapper .logo {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 56%;
	right: 50%;
	top: -6px;
	margin-left: -59px; 
}
.top-bar-left,
.top-bar-right {
	margin-top: 20px;
}
.curve-overlay {
	width: 100vw;
}
/// RESPONSIVE MENU
.title-bar .logo {
	float: right;
	width: 33px;
}
.title-bar {
	background: $primary-color;
}
/// STICKY BAR
.section-list {
	max-width: 701px;
	margin: auto;
	text-transform: capitalize;
}
.sticky-container {
	top: 23px;
}
.sticky-container > .title-bar {
	opacity: 0.8; 
}
/// POST
.post-img {
	border-radius: 50%;
}
.testimonials article {
	padding: 30px 20px;
	background-color: $white;
	border-radius: 50px;
}
/// FOOTER
#map {
	width: 100%;
	height: 304px;
}
footer .logo {
	max-width: 87px;
	height: 87px;
}
footer .contact {
	margin-left: 0;
}
footer .contact li *{
	display: inline;
}
footer .content {
	padding: 20px;
}
/// INDEX SPECIFIC
/// ABOUT SPECIFIC
#about .list ul {
	font-family: 'bodoni';
	text-align: left;
	text-transform: capitalize;
	list-style-type: circle;
}
#about .list {
	height: 280px;
}
/// BLOG SPECIFIC
.img-wrap {
	max-height: 400px;
	overflow: hidden;
}
#blog .post {
	padding-right: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid $primary-color;
}
#blog .post:not(:first-child){
	padding-top: 30px;
}
#blog .post img {
	display: block;
	position: relative;
	max-width: 100%;
	height: auto;
	bottom: 100px;
}
#blog .post p,
.side-nav li:not(.title) {
	padding: 15px 0;
}
#blog .post .title {
	margin: 0;
}
.side-nav .date {
	margin: 0;
}
#blog .testimonials {
	background-color: $secondary-color;
}
#blog .testimonials .title {
	text-align: center;
}
//////////////
/// STATES ///
//////////////
.hidden {
	display: none;
}
.menu .active>a {
	background-color: transparent;
	color: $secondary-color;
}
.text-left {
	text-align:left;
}
.top-bar a:hover {
	color: $secondary-color;
}
.primary-btn:hover {
	background-color: $white;
	color: $secondary-color;
	border: 2px solid $secondary-color;
}
.secondary-btn:hover {
	background-color: $secondary-color;
	color: $white;
	border: 2px solid $white;
}
/// MOBILE MEDIA SCREEN
@include screen(mobile) {
	// TOP BAR
	.top-bar {
		padding: 0;
		background: $primary-color;
	}
	.top-bar-left,
	.top-bar-right {
		margin: 0;
	}
	.top-bar a {
		color: $white;
	}
	.top-bar a:hover {
		background: $white;
	}
	.testimonials .post {
		margin-bottom: 20px;
	}
	.sticky-container {
		top: 0;
	}
	// BLOG
	#blog .post img {
		bottom: 0;
	}
	#blog .post {
		padding-right: 0;
	}
	.orbit-container {
		overflow: visible;
	}
} 